<div class="top">
    <% if !current_user %>
        <%= link_to "新規登録", new_user_path , {class: "top-link"}%>&nbsp;&nbsp;
        <%= link_to "ログイン", top_main_path , {class: "top-link"}%>
    <% end %>
</div>