<div class="top">
    <% if !current_user %>
        <%= link_to new_user_path, {class: "top-link"} do %>
            <i class="fas fa-user-plus">  新規登録 </i>
        <% end %>&nbsp;&nbsp;
        <%= link_to top_main_path, {class: "top-link"} do %>
            <i class="fas fa-sign-in-alt">  ログイン </i>
        <% end %>
    <% end %>
</div>