<% if !current_user %>
<div class="users">
  <%= link_to "ログイン", top_main_path , {class: "top-link"}%>
</div>
<% end %>
<% @users.each do |e| %>
  <p class="users-p">
    <%= e.uid %>
  </p>
<% end %>

