<% if !current_user %>
  <%= link_to "ログイン", top_main_path , {class: "top-link"}%>
<% end %>
<% @users.each do |e| %>
  <p class="users-p">
    <%= e.uid %>
    <%= link_to '削除', user_path(e), method: :delete, class: "users-link"%>
  </p>
<% end %>

