
<% if !current_user %>
<div class="users">
  <%= link_to "ログイン", top_main_path , {class: "top-link"}%>
</div>
<% end %>

<h3 class="users-h3">登録ユーザ一覧</h3>
<% @users.each do |e| %>
  <p class="users-p">
    ユーザ：<strong class="users-uid"><%= e.uid %></strong>
  </p>
<% end %>

